body{
  background-image: url("image/fond2.jpg");
  font-family: fantasy;
  font-size: 20px;
}

h1{
  text-align: center;
  border-radius: 30%;
  font-size: 62px;
  padding-top: 50px;
}

#containerA{
  display: flex;
  justify-content: center;
  background-color: white;
  border: black solid 2px;
  padding: 20px;

}

#Accueil{
  margin-right: 250px;
}

#Profil{
  margin-right: 250px;
}

#Messagerie{
  margin-right: 250px;
}

#Parametres{
  margin-right: 250px;
}
