body {
  background-image: url("../image/fond2.jpg");
  font-family: Arial, sans-serif;
  margin: 0;
  
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 62px;
  padding-top: 50px;
  margin-bottom: 20px;
}

#pageContainer{
  display: flex;
  justify-content: center;
  
  height: 700px;
}

#main-container {
  display: flex;
  align-items: flex-start;
}

#container {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#inscription, #abonnement {
  padding: 20px;
}

#inscription {
  margin-right: 20px;
}

#abonnement {
  border-top: 2px solid black;
}

#boutonEnvoie {
  font-size: 20px;
}

#avantages {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left: 20px;
  text-align: center;
}
