body{
	background-image: url("../image/fond2.jpg");
	font-family: Arial;
	
	background-position: center;

}


h1{
	text-align: center;
	
	font-size: 100px;
}

h2{
	text-align: center;

	font-size: 60px;
}


p{
	color: white;
	font-size: 40px;
	text-align: center;
}


#div1{

	
  display: block;
  text-align: center;
 
  border-radius: 5% ;
  width: 1400px;
  height: 600px;

  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  	

}

#containerA{
	display: flex;
	justify-content: center;
	font-size: 40px;
}
#inscription{
	margin-right: 50px;


}
#connexion{
	margin-left: 50px;
}

.bouton{
	text-align: center;
	width: 250px;
	border-radius: 30px;
	background-color: white;
	padding: 20px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.bouton:hover{
	background-color: whitesmoke;
}

.bouton:active{
	background-color: lightgray;
}
