body{
  background-image: url("../image/fond2.jpg");
  font-family: arial;
  text-align: center;
  font-size: 30px;

}

h1{
  text-align: center;
  border-radius: 30%;
  font-size: 62px;
  padding-top: 50px;
}

#container{
  display: inline-block;
  text-align: center;
  padding:100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.champs{

  width: 300px;
  height: 30px;
  font-size: 20px;
  text-align: center;

}


#boutonEnvoie{
  font-size: 30px;
  width: 200px;
  height: 50px;

}
