body{
  background-image: url("../image/fond2.jpg");
  font-family: fantasy;
 
}

h1{
  text-align: center;
  border-radius: 30%;
  font-size: 62px;
  padding-top: 50px;
}

.imageSelection{
  width: 50px;
  height:50px;
  object-fit: cover;
 
  margin-right: 20px;
}

#containerA{
  display: flex;
  justify-content: center;
  background-color: white;
  border: black solid 2px;
  padding: 20px;

}

.bouton{
  margin-right: auto;
  margin-left:auto;
}

.a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#main{
  text-align: center;
}

.image{
  width: 250px;
  height:250px;
  object-fit: cover;
  border: solid black 2px;
  border-radius: 40px;
}
